F31_hw3_submission.aux
F31_hw3_submission.fdb_latexmk
F31_hw3_submission.fls
F31_hw3_submission.log
F31_hw3_submission.pdf
F31_hw3_submission.out
F31_hw3_submission.synctex.gz
F31_hw3_submission.xdv
.DS_Store
tags
**log
**/__pycache__
