F21_hw3_submission.aux
F21_hw3_submission.fdb_latexmk
F21_hw3_submission.fls
F21_hw3_submission.log
F21_hw3_submission.pdf
F21_hw3_submission.out
F21_hw3_submission.synctex.gz
F21_hw3_submission.xdv
.DS_Store
tags
**log
**png
**/__pycache__
